@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Header section */
header
{
    width: 100%;
    height: 400px;
}

.header-container
{
    background-color: #1f2937;
    width: auto;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    gap: 60px;
    overflow: hidden;
}
/* first section of header content */

.cona ul 
{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: white;
}

header .cona
{
    display: flex;
    justify-content: space-between;

}

.cona p
{
    width: 407px;
}

/* second content of header section */

header .conb
{
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.conb-content
{
    width: 407px;
}

header .image-box {
  height: 230px;
  width: 407px;
  background-color: #9da2ae;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #555;
  text-align: center;
  overflow: hidden;
}

header .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .image-box.no-img::before {
  content: attr(data-alt);
}

/* header color and fonts decorations */

.header-logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-text
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sub-text, a
{
    margin-top: 5px;
    font-size: 18px;
    color: #e5e7eb;
}

header button
{
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    size: 18px;
    border-radius: 7px;
    height: 30px;
    width: 70px;
    border: none;
}
/* content section */
/* Footer section */
