@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Header section */
header
{
    background-color: #1f2937;
    color: #f9f8fa;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    overflow: scroll;
}

.csa, .csb
{
    width: 30%;
    flex-shrink: 0;
} 

.csb ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}

.csa .header-logo, .csb ul
{
    margin-bottom: 20px;
}

a
{
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo
{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text
{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-subtext
{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.header-button
{
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 7px;
    border: none;
    padding: 7px;
}

.image-box {
  height: 231px;
  background-color: #53545b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #f9faf8;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-box.no-img::before {
  content: attr(data-alt);
}


/* main section */



/* footer section */
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f8fa;
    position: absolute;
    background-color: #1f2937;
    height: 60px;
    bottom: 0;
    width: 100%;
}